<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tux</title>

    <link href="/css/vendor.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Wrap all page content here -->
<div id="wrap">
    <div id="header-region"></div>
    <div id="main-region" class="container"></div>
</div>

<div id="footer-region"></div>

<script src="/js/vendor.js"></script>
<script src="/js/templates.js"></script>
<script src="/js/scripts.js"></script>

<script>
    $(document).ready(function(){
        Lacquer.start({
            currentUser: {
                id: 3,
                first_name: 'Dmitry',
                last_name: 'Groza',
                full_name: 'Dmitry Groza'
            }
        });
    });
</script>
</body>
</html>